<ion-view view-title="{{activityId}}" class="activity-{{activityId}}-content content-margin">
  <div class="dashboard-container">
    <div radio-group ng-repeat="row in dashboard">
      <ion-radio ng-repeat="letter in row"
          ng-attr-name={{$parent.$index}}
          icon="none"
          class="letter-button letter-{{letter}}"
          on-tap="selectLetter($parent.$index, letter)"
          ng-checked=""
          ng-disabled="loading || readingInstructions">
      </ion-radio>
    </div>
  </div>
  <div class="footer">
    <div class="item-collection">
      <img class="shadow" ng-repeat="item in items" ng-src="assets/1/items/{{item.img}}" ng-class="{'completed':$index+1<stageNumber}">
    </div>
    <div class="character" ng-click="playWordAudio()">
      <talk-bubble ng-show="showText" text="textSpeech"></talk-bubble>
      <img src="assets/characters/mbott.png">
    </div>
  </div>
</div>
