  <div class="height-100 activity-{{activityId}}-content">
    <div class="dashboard-container">
        <div radio-group ng-repeat="row in dashboard">
          <ion-radio ng-repeat="letter in row"
              ng-attr-name={{$parent.$index}}
              icon="none"
              class="letter-button letter-{{letter}}"
              on-tap="selectLetter($parent.$index, $index, letter)"
              ng-checked="">
          </ion-radio>
        </div>
    </div>
    <div class="character" ng-click="speak(word)">
      <!-- <div class="talkbubble">
        <textarea>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tristique diam vel libero lobortis, in faucibus elit vulputate. Maecenas lacinia, sapien sit amet auctor pulvinar, nisl leo tincidunt nibh</textarea>
      </div> -->
      <img src="img/characters/mbott.png">
    </div>
  </div>
