<ion-view view-title="{{activityId}}" class="flex items-center activity-{{activityId}}-content">
  <div class="flex justify items-center grow-1">

    <div class="item-container">
      <div as-sortable="sortableCloneOptions" data-ng-model="items" is-disabled="dragDisabled">
        <img ng-repeat="item in items track by $index" src="{{imgPath}}cookie.png"
        class="sortable-cookie" as-sortable-item as-sortable-item-handle>
      </div>
    </div>

    <div class="cub">
      <talk-bubble text="number" text2="numberToWords(number)" class="text-center" ng-class="{'btn-position':showButton}"></talk-bubble>
      <div class="item-dropzone" data-ng-model="dropzone" as-sortable="sortableOptions">
        <img ng-repeat="item in dropzone track by $index" src="{{imgPath}}cookie.png"
        class="sortable-cookie" as-sortable-item as-sortable-item-handle>
      </div>
    </div>

    <button ng-show="showButton" class="button check-button" ng-click="checkValue()"></button>
  </div>

  <div class="character flex" ng-click="tapInstruction()">
    <talk-bubble ng-show="showText" text="textSpeech"></talk-bubble>
    <img src="assets/characters/gaynde.png">
  </div>
</ion-view>
