<ion-view view-title="{{activityId}}" class="content-margin">
  <div class="flex justify items-center height-100 activity-13-content">
    <div class="number-container">
      <div class="number horizontal-center" ng-if="step>=1"> {{number}} </div>
      <div class="text animate-if" ng-if="step>=2"> {{numberToWords(number)}} </div>
    </div>

    <div class="item-dropzone animate-if" data-ng-model="dropzone" as-sortable="sortableOptions" ng-if="step>=3">
      <div ng-repeat="item in dropzone track by $index" class="flex pattern-item color color-red item"></div>
      <div class="group-row">
        <div ng-repeat="item in row1 track by $index" class="flex pattern-item color color-red item"></div>
      </div>
      <div class="group-row">
        <div ng-repeat="item in row2 track by $index" class="flex pattern-item color color-red item"></div>
      </div>
      <div class="group-row">
        <div ng-repeat="item in row3 track by $index" class="flex pattern-item color color-red item"></div>
      </div>
    </div>

    <div class="item-container animate-if" ng-if="step>=3">
      <div as-sortable="sortableCloneOptions" data-ng-model="items" is-disabled="dragDisabled">
        <div ng-repeat="item in items" as-sortable-item as-sortable-item-handle class="flex pattern-item color color-red"></div>
      </div>
    </div>
  </div>
</ion-view>
