<ion-view view-title="{{activityId}}" class="content-margin">
  <div class="activity-{{activityId}}-content" >
    <div class="operation-container">
      <div class="number-container">
        <div class="number horizontal-center"> {{numbers[0]}} </div>
        <div> {{numberToWord(numbers[0])}} </div>
      </div>
      <div class="operator symbol-margin"> + </div>
      <div class="number-container">
        <div class="number horizontal-center"> {{numbers[1]}} </div>
        <div> {{numberToWord(numbers[1])}} </div>
      </div>
      <div class="equals symbol-margin"> = </div>
      <div class="dropzone" as-sortable="sortableOptions" data-ng-model="dropzoneModel">
        <div ng-repeat="item in dropzoneModel" as-sortable-item></div>
      </div>
    </div>
    <div class="results-container" as-sortable="sortableCloneOptions" data-ng-model="results">
      <div ng-repeat="number in results" as-sortable-item as-sortable-item-handle class="number-container match-card">
        <div class="number horizontal-center"> {{number}} </div>
        <div> {{numberToWord(number)}} </div>
      </div>
    </div>
  </div>
</ion-view>
