<ion-view view-title="{{activityId}}" class="activity-{{activityId}}-content">
  <div class="operation-container">
    <div class="number-container" ng-class="{'closed': !levelConfig.numberImages}">
      <div class="number text-center"> {{numbers[0]}} </div>
      <div class="number-image" ng-if="levelConfig.numberImages">
        <img ng-src="{{imgPath}}cookies/{{numbers[0]}}-cookie.png">
      </div>
    </div>

    <div class="operator symbol"> {{operator}} </div>
    <div class="number-container" ng-class="{'closed': !levelConfig.numberImages}">
      <div class="number text-center"> {{numbers[1]}} </div>
      <div class="number-image" ng-if="levelConfig.numberImages">
        <img ng-src="{{imgPath}}cookies/{{numbers[1]}}-cookie.png">
      </div>
    </div>

    <div class="equals symbol"> = </div>
    <div class="placeholder" ng-class="{'hidden': dropzoneModel.length >= 1}"></div>
    <div class="dropzone" as-sortable="sortableOptions" data-ng-model="dropzoneModel">
      <div ng-repeat="res in dropzoneModel" as-sortable-item class="number-container"
        ng-class="{'closed': !levelConfig.optionImages}">
        <div class="number text-center"> {{res}} </div>
        <div class="number-image" ng-if="levelConfig.optionImages">
          <img ng-src="{{imgPath}}cookies/{{res}}-cookie.png">
        </div>
      </div>
    </div>
  </div>

  <div class="results-container" as-sortable="sortableCloneOptions" data-ng-model="results" is-disabled="dropzoneModel > 0">
    <div ng-repeat="number in results" as-sortable-item as-sortable-item-handle
      class="number-container match-card" ng-class="{'closed': !levelConfig.optionImages}">
      <div class="number text-center"> {{number}} </div>
      <div class="number-image" ng-if="levelConfig.optionImages">
        <img ng-src="{{imgPath}}cookies/{{number}}-cookie.png">
      </div>
    </div>
  </div>

  <div class="character flex" ng-click="playWordAudio()">
    <talk-bubble ng-show="showText" text="textSpeech"></talk-bubble>
    <img src="assets/characters/leuk.png">
  </div>
</ion-view>
