<ion-view view-title="Dashboard (level: {{level}})" class="activity-{{activityId}}-content">
  <div class="dashboard">
    <div class="word-icons">
      <div id="{{assetsPath}}{{imgSrc}}" ng-repeat="item in imgs track by $index" class="dropzoneContainer">
       <img  ng-src="{{assetsPath}}{{item.image}}" class="letterNameBox" />
        <div as-sortable="targetOptions" data-ng-model="item.dropzone" class="dropzone icon" data-name="{{item.name}}">
          <div ng-repeat="elem in item.dropzone" as-sortable-item>
            <img class="letterAsset" ng-src="{{assetsPath}}{{elem.assetImage}}" />
          </div>
        </div>
      </div>
    </div>
    <div class="listAssets" as-sortable="sourceOptions" data-ng-model="assets">
      <div ng-repeat="data in assets">
        <div as-sortable-item as-sortable-item-handle>
          <img class="letterAsset" ng-src="{{assetsPath}}{{data.assetImage}}" />
        </div>
      </div>
    </div>
  </div>
  <div class="character" ng-click="playWordAudio()">
    <talk-bubble ng-show="showText" text="textSpeech"></talk-bubble>
    <img ng-src="assets/characters/mbott.png">
  </div>
</ion-view>
