<ion-view view-title="Dashboard (level: {{level}})" class="activity-{{activityId}}-content content-margin">
  <activity-status></activity-status>
  <div class="text-center">
    <img ng-src="assets/9/radio.png" class="instructions" ng-click="speak(instructions)">
  </div>
  <div class="dashboard">
    <div class="word-icons">
      <div id="{{assetsPath}}{{imgSrc}}" ng-repeat="item in imgs track by $index">
        <div as-sortable="targetOptions" data-ng-model="item.dropzone">
          <img class="dropzone icon" ng-src="{{assetsPath}}{{item.image}}" ng-show="item.dropzone.length == 1" ng-repeat="dummy in items" as-sortable-item/>
        </div>
      </div>
    </div>
    <div class="list-letters" as-sortable="sourceOptions" data-ng-model="letters">
      <div ng-repeat="data in letters">
        <div as-sortable-item as-sortable-item-handle>
          <img class="letter" ng-src="{{assetsPath}}{{data.letterImage}}" />
        </div>
      </div>
    </div>
  </div>
  <div class="character" ng-click="playWordAudio()">
    <talk-bubble ng-show="showText" text="textSpeech"></talk-bubble>
    <img ng-src="assets/characters/mbott.png">
  </div>
</ion-view>
