<ion-view view-title="Dashboard (level: {{level}} score: {{score}})" class="activity{{activityId}}-content">
  <div class="content">
    <div class="row" id="activity">
      <div class="col" ng-repeat="img in imgs" ng-click="selectLetter(img.name,img.src)">
        <div class="letter">
          {{img.name}}
        </div>
      </div>
    </div>
  </div>
  <div class="character" ng-click="readTapInstruction()">
    <talk-bubble ng-show="showText" text="textSpeech"></talk-bubble>
    <img ng-src="assets/characters/tortuga.png">
  </div>
</ion-view>
