<ion-view view-title="Dashboard (level: {{level}})" class="activity4">
 <activity-status></activity-status>
  <ion-content class="padding">
    <br/>  <br/>  <br/>
    <div class="text-center activity4-number-container">
      <span
        class="material-icons btn-play-word"
        ng-click="speak(number)">
        {{number}}
      </span>
    </div>
    <br/><br/><br/>
    <br/><br/><br/>
    <br/><br/><br/>
    
    <center>
     <object-dashboard-four></object-dashboard-four>
    </center>
  </ion-content>
</ion-view>
