<ion-view view-title="Dashboard (level: {{level}})" class="activity5 content-margin">
  <back-button></back-button>
  <activity-status></activity-status>
    <br/>  <br/>  <br/>
    <div class="activity5-letter-container">
      <span class="material-icons btn-play-word"
        ng-click="speak(instructions + ' ' + letter)">
        <img src="{{letterSrc}}" class="img-letter"/>
      </span>
    </div>
    <br/><br/><br/>
    <br/><br/><br/>

    <object-dashboard-five></object-dashboard-five>

</ion-view>
