<ion-view class="activity-{{activityId}}-content content-margin">

  <div class="row floating-objects-container">
    <div ng-repeat="img in imgs" ng-click="selectLetter(img.name, img.src)">
      <div class="box">
        <img ng-src="{{assetsPath}}{{img.src}}" class="img-figure" />
      </div>
    </div>
  </div>
  <div class="character" ng-click="readTapInstruction()">
    <talk-bubble ng-show="showText" text="textSpeech" ng-class="{'letter': isSayingLetter}">
    </talk-bubble>
    <img ng-src="assets/characters/turtle.png">
  </div>
</ion-view>
