<ion-view view-title="Dashboard (level: {{level}})" class="activity{{activityId}} content-margin">
 <center>
 <div class="dashboard text-center">
   <div as-sortable="sortableTargetOptions" data-ng-model="letters2" class="dropzone">
   <img class="dragged-letter" ng-repeat="item in letters2 track by $index" ng-src="img/alphabet-buttons/{{item.letter}}.png"/>
   </div>

   <div class="activity-{{activityId}}-letterContainer" as-sortable="sortableSourceOptions" ng-model="letters">
     <div ng-repeat="letter_obj in letters track by $index" >
       <img ng-src="img/alphabet-buttons/{{letter_obj.letter}}.png" ng-show="!isDragged(letter_obj.letter, letter_obj.index )"
       class="letters-list" as-sortable-item as-sortable-item-handle>
     </div>
   </div>
 </div>
</center>
 <div class="character" ng-click="playWordAudio()">
   <talk-bubble ng-show="showText" text="textSpeech"></talk-bubble>
   <img ng-src="assets/characters/Golo.png">
 </div>
</ion-view>
