<ion-view view-title="Dashboard (level: {{level}})" class="activity{{activityId}} content-margin">
 <center>
 <div class="dashboard text-center">
   <div as-sortable="sortableTargetOptions" data-ng-model="letters2" class="dropzone">
   <img class="dragged-letter" ng-repeat="letter in letters2 track by $index" ng-src="img/alphabet-buttons/{{letter}}.png"/>
   </div>

   <div class="activity-{{activityId}}-letterContainer" >
     <div ng-repeat="letter in letters track by $index" >
       <img ng-src="img/alphabet-buttons/{{letter}}.png" ng-show="!isDragged(letter,index )" as-sortable="sortableSourceOptions" ng-model="letter"
       class="letters-list"  as-sortable-item as-sortable-item-handle>
     </div>
   </div>
 </div>
</center>
 <div class="character" ng-click="readTapInstruction()">
   <talk-bubble ng-show="showText" text="textSpeech"></talk-bubble>
   <img ng-src="assets/characters/Golo.png">
 </div>
</ion-view>
