<ion-view view-title="{{activityId}}" class="height-100 activity-{{activityId}}-content flex">
  <div class="deck-container horizontal-center vertical-center">
    <memory-deck deck="deck" map="map" deck-completed="deckCompleted()" size="size" feedback="feedback(success)"
      enabled="enabled()"></memory-deck>
  </div>
  <div class="character flex" ng-click="tapInstruction()">
    <talk-bubble ng-show="showText" text="textSpeech"></talk-bubble>
    <img src="assets/characters/thioye-color.png">
  </div>
</ion-view>
