<ion-view view-title="{{activityId}}" class="activity-{{activityId}}-content">
  <div class="card-container">
    <number-card ng-repeat="card in cards"></number-card>
  </div>
  <div as-sortable="sortableCloneOptions" class="match-container" data-ng-model="matches" is-disabled="dragDisabled">
    <div ng-repeat="item in matches" as-sortable-item as-sortable-item-handle class="match-card">{{numberToWord(item)}}</div>
  </div>
  <div class="character flex" ng-click="tapInstruction()">
    <talk-bubble class="right" ng-show="showText" text="textSpeech"></talk-bubble>
    <img src="assets/characters/leuk-bowtie.png">
  </div>
</ion-view>
