<ion-view view-title="{{activityId}}" class="content-margin">
  <div class="flex justify items-center height-100 activity-9-content">
    <div class="number-container">
      <div class="number horizontal-center" ng-if="step>=1"> 2 </div>
      <div class="text animate-if" ng-if="step>=2"> two </div>
    </div>

    <div class="item-dropzone animate-if" data-ng-model="dropzone" as-sortable="sortableOptions" ng-if="step>=3">
      <div ng-repeat="item in dropzone track by $index" as-sortable-item class="flex pattern-item color color-red"></div>
    </div>

    <div class="item-container animate-if" ng-if="step>=3">
      <div as-sortable="sortableCloneOptions" data-ng-model="items">
        <div ng-repeat="item in items" as-sortable-item as-sortable-item-handle class="flex pattern-item color color-red"></div>
      </div>
    </div>
  </div>
</ion-view>
