<ion-view view-title="Dashboard (level: {{level}})" class="activity{{activityId}} content-margin">
  <activity-status></activity-status>
  <div class="text-center">
    <img src="assets/9/radio.png" class="instructions" ng-click="speak(instructions)">
  </div>
  <object-dashboard-nine class="horizontal-center"></object-dashboard-nine>
  <div class="character" ng-click="playWordAudio()">
    <talk-bubble ng-show="showText" text="textSpeech"></talk-bubble>
    <img src="assets/characters/mbott.png">
  </div>
</ion-view>
