<ion-view view-title="Lobby" class="lobby">
  <ion-scroll zooming="true" direction="x" class="lobby-scroll">
    <div class="activities-container">
      <div class="activity-card" ng-repeat="actividad in actividadesDisponibles">
        <img class="lobby-item" ui-sref="activity({activityId:actividad})" ng-src="assets/{{actividad}}/cover.png">
        <div class="info">{{actividad}}</div>
      </div ng-repeat-end>
    </div>
  </ion-scroll>
  <button class="button forward" ng-click="scrollForward()"> > </button>
  <button class="button backward" ng-click="scrollBackward()"> < </button>
</ion-view>
