<div class="row activityDisplay"  ng-show="!isActivity">
  <div class="col">
    <img src="{{nextLetterImgSrc}}"  width="25%" height="25%" ng-click="previousLetter(letterTutorial); speak(letterTutorial);" on-release="restoreImage()"/>
  </div>
  <div class="col" ng-click="animateImage('upperCaseImg'); speak('This is uppercase ' + letterTutorial)">
    <img src="{{upperCaseImgSrc}}" class="activity3-image-morph" id="upperCaseImg" />
  </div>

  <div class="col" ng-click="animateImage('lowerCaseImg'); speak('This is lowercase ' + letterTutorial)">
    <img src="{{lowerCaseImgSrc}}"  class="activity3-image-morph" id="lowerCaseImg" />
  </div>

  <div class="col">
    <img src="{{previousLetterImgSrc}}" width="25%" height="25%" ng-click="nextLetter(letterTutorial); speak(letterTutorial);" on-release="restoreImage()"/>
  </div>

<br/><br/>
<br/><br/>
</div>
<div style="float:right;">
<img class="material-icons" ng-click="showPage()" src="img/3-assets/signPlay.png" ng-show="!isActivity"  />
</div>
<div class="row activityDisplay" ng-show="isActivity" id="activity">
  <div class="col" ng-repeat="img in imgs" ng-click="selectLetter(img.name,img.src)">
    <div class="activity-3-box-shadow"> <h1><b>{{img.name}} </b></h1>
      <br/>
      <img src="{{img.src}}" />
    </div>

  </div>
</div>
