<div class="dashboard">
  <div class="word-icons">
    <div id="{{assetsPath}}{{imgSrc}}" ng-repeat="item in imgs track by $index" >
      <div class="col list-letters" as-sortable="targetOptions" data-ng-model="item.dropzone">
        <img class="dropzone icon-word" ng-src="{{assetsPath}}{{item.image}}" ng-show="item.dropzone.length == 1"
        ng-click="selectItem(item.image)" ng-class="{'selected': item.image == selectedItem}"
        ng-repeat="dummy in items" as-sortable-item/>
      </div>
    </div>
  </div>

  <div class="list-words" as-sortable="sourceOptions" data-ng-model="words" is-disabled="speaking">
    <div class="words" ng-repeat="data in words">
      <div class="list-letters" as-sortable-item as-sortable-item-handle>
        <div class="letter">{{data.word}} </div>
      </div>
    </div>
  </div>
</div>
