<div class="dashboard">
  <div as-sortable="sortableCloneOptions" data-ng-model="imgsDragged" ng-click="speak(wordStr)">
     <img src="{{img}}" class="dropzone" as-sortable-item/>
       <img class="word"  ng-repeat="letter in word track by $index" src="img/3-assets/letters-blue/letters-blue-{{letter}}-uppercase.png"/>
  </div>

  <div class="list-words">
    <div class="col" as-sortable="sortableOptions" data-ng-model="words">
      <div class="row" ng-repeat="data in words" >
          <div class="col list-letters" as-sortable-item as-sortable-item-handle >
            <img class="letter" ng-repeat="letter in data.letters track by $index" src="img/alphabet-buttons/{{letter}}.png"/>
          </div>
      </div>
    </div>
  </div>
</div>
