<div class="pattern-dashboard">
  <div class="pattern-container">
    <div class="color color-{{item}} inline-block" ng-repeat="item in pattern track by $index">
    </div>

    <div class="dropzone inline-block" as-sortable="sortableOptions"
        data-ng-model="pattern">
        <div ng-repeat="item in dropzone" as-sortable-item>
        </div>
    </div>
  </div>

  <div class="pattern-options text-center">
    <div as-sortable="sortableCloneOptions" data-ng-model="availableFields">
      <div ng-repeat="item in availableFields" class="text-center inline-block">
        <div class="color color-{{item}}" as-sortable-item as-sortable-item-handle></div>
        <span class="color-label">{{item}}</span>
      </div>
    </div>
  </div>
</div>
