.talk-bubble {
  margin: 4rem;
  min-width: 20rem;
  height: auto;
  background-color: lightyellow;
  padding: 2rem;
  border-radius: 3rem;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.talk-bubble:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 3.8rem;
  bottom: -2rem;
  border: 1.2rem solid;
  border-color: lightyellow lightyellow transparent transparent;
}


.talktext p {
  margin-before: 0;
  font-size: 3em;
}
