flipable-card {
  .memory-card {
    font-size: 1.6em;
    height: 18rem;
    margin: 1rem;
    position: relative;
    text-align: center;
    width: 18rem;
  }

  .memory-card-front,
  .memory-card-back {
    backface-visibility: hidden;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .memory-card-front {
    background: url('../assets/7/closed-box.png');
    background-size: cover;
  }

  .memory-card-back {
    align-items: center;
    background: url('../assets/7/empty-box.png');
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transform: rotateY(-180deg);
  }

  .flipped {
    .memory-card-front {
      transform: rotateY(-180deg);
    }

    .memory-card-back {
      transform: rotateY(0);
    }
  }

  // .memory-card-text {
  //   background: url('../assets/7/cookie.png') no-repeat center / contain;
  // }

  .number-image {
    margin: .5rem;
    width: 4rem;
  }
}
