.memory-card {
  display: inline-block;
  height: 80px;
  position: relative;
  text-align: center;
  width: 80px;
}

.memory-card-front,
.memory-card-back {
  @include backface-visibility(hidden);
  @include transition(transform .3s);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.memory-card-front {
  background-color: #ff5078;
}

.memory-card-back {
  @include transform(rotateY(-180deg));
  background-color: #1e1e1e;
}

.flipped {
  .memory-card-front {
    @include transform(rotateY(-180deg));
  }

  .memory-card-back {
    @include transform(rotateY(0));
  }
}
