.number-card {
  display: flex;
  flex-direction: column;
  height: 30rem;
  justify-content: center;
  width: 20rem;

  .number {
    background-color: #663399;
    font-size: 4em;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .placeholder {
    border: red dotted;
    height: 50%;

    .as-sortable-item{
      background: inherit;
      border: 0;      
      margin: 0;
    }

    .as-sortable-placeholder {
      visibility: hidden;
    }
  }

  .completed{
    border: 0;
  }
}
