.number-card {
  height: 20rem;
  width: 60rem;

  .number {
    font-size: 4em;
    font-weight: bold;
    background: url('../assets/8/table-number.png') center no-repeat;
    margin-left: auto;
    margin-right: auto;
    width: 8rem;
    height: 11rem;
    background-size: contain;
    position: relative;
    bottom: -3rem;
    text-align: center;
    padding-top: 1rem;
  }

  .placeholder {
    height: 20rem;
    width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }

  .table {
    background: url('../assets/8/table.png') center no-repeat;
    background-size: contain;
    height: 12rem;
    width: 100%;
  }

}
