$grey: #808080;
$red: #f44336;
$pink: #e91e63;
$purple: #9c27b0;
$blue: #2196f3;
$green: #4caf50;
$yellow: #ff0;
$orange: #ff9800;
$brown: #795548;

$pattern-colors: (color-red, $red),
                  (color-pink, $pink),
                  (color-purple, $purple),
                  (color-blue, $blue),
                  (color-green, $green),
                  (color-yellow, $yellow),
                  (color-orange, $orange),
                  (color-brown, $brown);


@each $color-name, $color-code in $pattern-colors {
  .color.#{$color-name} {
    background-color: $color-code;
  }
}

.pattern-dashboard {
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;


  .dropzone {
    border: .2rem dashed $grey;
    border-radius: 50%;
    color: $grey;
    padding: 1.4rem;

    .as-sortable-placeholder {
      visibility: hidden;
    }
  }

  .pattern-item {
    height: 8rem;
    margin: auto 1rem 1rem;
    width: 8rem;
  }

  .pattern-item.item-number,
  .pattern-item.color {
    border: 0;
    border-radius: 50%;
    margin: auto 1rem 1rem;
  }

  .item-label {
    font-size: 2em;
  }

  .pattern-container {
    display: flex;
    padding-top: 5%;
  }

  .pattern-options {
    padding-top: 15%;
  }

  .item-number {
    align-items: center;
    display: flex;
    font-size: 2em;
    justify-content: center;
  }

  .as-sortable-item.item-number {
    display: flex;
  }
}
