.activity6 {
  background-image: url('../img/6-assets/background.png');
}

.images-list {
  width: 50em;
  max-height: 30em;
  float: left;
}
.activity-6-letterContainer {
  width: 20em;
  height: 20em;
}
.letters-list{
  width: 10em;
  height: 10em;
}

.activity-6-img {
  position:absolute;
  top:20%;
}

.activity-6-dragged-phonemas {
    background-image: url("../img/6-assets/ice-cube.png");
    width: 20em;
    min-height: 19em;
    margin: .5em;
}

.dragged-phonemas {
    position: relative;
    top: 8em;
    left: -3em;
    height: 8em;
  -webkit-transform: rotate(3deg);
   transform: rotate(3deg);
}

.activity-6-dragged-phonemas-container {
  padding-left: 10%;
}
