.activity-16-content {

  .letter {
    height: 6rem;
    width: 6rem;
  }

  .icon.dropzone {
    background-image: url('../assets/9/cuadro.png');
    border: 0;
    border-radius: 0;
    height: 17rem;
    width: 17rem;
  }


  .list-letters {
    display: flex;
    justify-content: center;
  }


  .word-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 15rem;
    padding: 1.5rem;
  }

  .instructions {
    height: 10rem;
    width: 10rem;
  }

  .as-sortable-item {
    background-color: inherit;
    border: inherit;
  }

  .as-sortable-placeholder {
    display: none !important;
  }

  .as-sortable-dragging {
    width: auto;
  }

  .character{
    bottom: 8rem;
    position: absolute;
    right: 0;

     img {
      height: 20rem;
      margin-left: auto;
     }
  }

  .talk-bubble {
    right: 22rem;
    bottom: 15rem;
  }
}
