$black: #000000;
.activity9 {
  background: url('../assets/9/background.png') no-repeat fixed;
  background-size: cover;

  .letter {
      background-image: url('../assets/9/party-sheet.png');
      background-repeat:no-repeat;
      background-position: center;
      background-color:transparent;
      border: 0;
      min-height: 15rem;
      width: 30rem;
      display: flex;
      flex-direction: center;
      padding-left: 10rem;
      padding-top: 5rem;
      font-size: 4em;
      color: $black;
      font-weight: bold;

  }

  .icon-word.dropzone {
    margin: 3rem;
  }

  .selected {
    background: #09c;
  }

  .selected.dropzone {
    border-radius: 1rem;
  }

  .list-words {
    display: flex;
    justify-content: center;
  }

  .words {
    display: flex;
    padding: 1em;
  }

  .word-icons {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
    padding: 1.5rem;
  }

  .instructions {
    height: 10rem;
    width: 10rem;
  }

  .list-letters {
    width: auto;
  }

  .as-sortable-item {
    background-color: inherit;
    border: inherit;
  }

  .as-sortable-placeholder {
    display: none !important;
  }

  .as-sortable-dragging {
    width: auto !important;
  }

  .character{
    bottom: 0;
    position: absolute;
    right: 0;

     img {
      height: 30rem;
      margin-left: auto;
     }
  }

  .talk-bubble {
    width: 100%;
    right: 8rem;
    bottom: 8rem;
  }
}
