.activity-5-content {
  background-image: url('../assets/5/fondo.png');

  .letter-container {
    text-align: center;
    margin-top: 10rem;
  }

  .img-letter {
    height: 12rem;
    width: 12rem;
  }

  .img-figure {
    max-height: 10rem;
  }

  .img-ground {
    display: block;
  }

  .box {
    margin: auto 10rem;
    text-align: center;
    width: auto;
  }

  .floating-objects-container {
    align-items: flex-end;
    display: flex;
    justify-content: center;
  }

  .character{
    bottom: 0rem;
    position: absolute;
    right: 0;

     img {
      height: 30rem;
      margin-left: auto;
     }
  }

  .talk-bubble {
    width: 20rem;
    right: 13rem;
    bottom: 10rem;

    &::after {
      border-color: white transparent transparent white;
      bottom: initial;
      right: -2rem;
      top: 6rem;
    }
  }
}
