$red: #f44336;
$pink: #ef60d4;
$purple: #9c27b0;
$blue: #2196f3;
$green: #4caf50;
$yellow: #ffdc38;
$orange: #ff9800;
$brown: #8d5e3b;

$pattern-colors: (color-red, $red),
                  (color-pink, $pink),
                  (color-purple, $purple),
                  (color-blue, $blue),
                  (color-green, $green),
                  (color-yellow, $yellow),
                  (color-orange, $orange),
                  (color-brown, $brown);


@each $color-name, $color-code in $pattern-colors {
  .#{$color-name} {
    background-color: $color-code;
  }
}

.activity-2-content {
  background: url('../assets/2/background.png') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .dropzone {
    height: 20rem;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .pattern-item {
    border: 0;
    border-radius: 50%;
    height: 8.2rem;
    margin: auto;
    width: 8.2rem;
  }

  .item-label {
    font-size: 2.5em;
    font-weight: bold;
  }

  .pattern-container {
    display: flex;
    justify-content: center;
    padding-top: 5%;

    .rope {
      height: 2rem;
      position: absolute;
      width: 100%;
    }

    .feather {
      margin-right: 3rem;
      position: relative;
    }
  }

  .pattern-options {
    padding-bottom: 1rem;
    z-index: 1;
  }

  .options-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 90rem;
  }

  .border {
    border: solid $brown 1.4rem;
    border-radius: 50%;
    height: 11rem;
    margin: 0;
    width: 11rem;
  }

  .character {
    bottom: 8rem;
    position: absolute;
    right: 0;

    img { height: 30rem; }
  }

  .as-sortable-dragging {
    width: auto !important;
  }

  .as-sortable-item {
    background-color: transparent;
    border-color: transparent;
  }

  .as-sortable-placeholder {
    visibility: hidden;
  }

  .talk-bubble {
    align-self: flex-start;
    bottom: 2rem;
    position: relative;
    right: -4rem;
    width: 30rem;
    z-index: 0;

    &::after {
      border-color: white transparent transparent white;
      bottom: initial;
      right: -2rem;
      top: 4rem;
    }
  }
}
