.activity6 {
  background-image: url('../img/6-assets/background.png');

  .images-list {
    float: left;
    max-height: 30rem;
    width: 50rem;
  }

  .activity-6-letterContainer{
    @include image-container-1(2rem, #5E2B26, #e7ddc4);
    display: inline-flex;
    margin-bottom: 10rem;
    padding: 1rem;
  }

  .letters-list.as-sortable-item{
    height: 10rem;
    width: 10rem;
  }

  .icon-phonema {
    padding: 5rem;
  }

  .dropzone {
    background: url('../img/6-assets/objects/treasure-chest-stars.png') no-repeat center / contain;
    height: 30rem;

    .as-sortable-placeholder {
      visibility: hidden;
    }
  }

  .activity-6-dragged-phonemas {
      background-image: url('../img/6-assets/ice-cube.png');
      background-repeat: no-repeat;
      min-height: 19rem;
      margin: .5rem;
      border: 0;
      border-radius: 0;
      width: 20rem;
  }

  .dragged-phonemas {
    height: 8rem;
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
    margin-left: 3rem;
    margin-top: 5rem;
    margin-right: auto;
    display: block;
  }

  .as-sortable-dragging{
    background: 0;
    border: 0;
    margin: 0;
  }
}
