.activity3-content {
  background-image: url('../assets/3/background.jpg');

    .content {
      text-align: center;
      margin: 10rem;
    }

    .letter{
      font-weight: bold;
      font-size: 10rem;
      padding-top: 5rem;
      padding-bottom: .25rem;
      margin-bottom: 2rem;
    }

    .activity-3-box-shadow {
      @include shadow-box-1(#ccc, #7c3900, #fef3dd, #fab06d);
      width:400px;
      height: 200px;
      font-family: learningNumbers;
    }

    .character{
      bottom: 0rem;
      position: absolute;
      right: 0;

       img {
        height: 30rem;
        margin-left: auto;
       }
    }

    .talk-bubble {
      width: 20rem;
      right: 13rem;
      bottom: 10rem;

      &::after {
        border-color: white transparent transparent white;
        bottom: initial;
        right: -2rem;
        top: 6rem;
      }
    }

}
