$color-grey: #808080;

.dropzone {
  border: 2px dashed $color-grey;
  border-radius: 50%;
  color: $color-grey;
  height: 80px;
  margin-bottom: 14px;
  padding: 14px;
  width: 80px;
}

.color {
  border: 2px dashed $color-grey;
  border-radius: 50%;
  height: 80px;
  margin: auto 10px 10px;
  width: 80px;
}

.pattern-container {
  margin-bottom: 100px;
}
