.activity-1-content {
  $alphabet: a b c d e f g h i j k l m n o p q r s t u v w x y z;
  @include display(flex);
  @include flex-direction(column);
  background: url('../assets/1/background.png') no-repeat center center fixed;
  background-size: cover;


  @each $letter in $alphabet {
    .letter-#{$letter} {
      &.item-radio {
        background: url('../assets/alphabet-buttons/#{$letter}.png') no-repeat center / contain;

        input:checked + .radio-content .item-content {
          @include filter(brightness(70%));
          background: url('../assets/alphabet-buttons/#{$letter}.png') no-repeat center / contain;
          visibility: visible;
        }
      }
    }
  }

  .radio-content .item-content {
    height: 9rem;
    width: 9rem;
  }

  .letter-button {
    border: 0;
    display: block;
    height: 9rem;
    margin: auto auto 2.5rem;
    width: 9rem;

    .radio-content {
      visibility: collapse;
    }
  }

  .dashboard-container {
    @include display(flex);
    @include justify-content(space-around);
    align-items: center;
    flex-grow: 1;
  }

  .footer {
    display: flex;
    margin-top: auto;
  }

  .item-collection {
    align-self: flex-end;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    padding-bottom: 1rem;

    img {
      height: 12rem;
    }
  }

  .coso {
    filter: contrast(0%) brightness(45%);
  }

  .character {
    // bottom: 0;
    // position: absolute;
    // right: 0;
    margin-left: auto;

    img {
      height: 20rem;
    }
  }

  // .speech-bubble {
  //   right: 32rem;
  //   top: 14rem;
  // }
}
