.activity3-content {
  background-image: url('../img/3-assets/background.jpg');

    .content {
      text-align: center;
      margin: 10rem;
    }

    .letter{
      font-weight: bold;
      font-size: 10rem;
      padding-top: 5rem;
      padding-bottom: .25rem;
      margin-bottom: 2rem;
    }

    .activity-3-box-shadow {
      @include shadow-box-1(#ccc, #7c3900, #fef3dd, #fab06d);
      width:400px;
      height: 200px;
      font-family: learningNumbers;
    }

}
