$color : #00bfff;
.activity12 {
    .options-container{
      margin: 6rem 0 0 6rem;
    }

    .options {
      width: 10rem;
      height: 10rem;
      margin: 2rem;
    }

    .options-image-morph {
      @include image-morph(0.5s);
    }

    .options-image-morph-click {
      @include image-morph-rotation-on-click(45deg);
    }


    .text-container {
      background-color:	$color;
      border-radius: 5rem;
      width: 100rem;
    }

    .text {
      font-size: 2em;
      font-weight: bold;
      font-family: Source Sans Pro;
      line-height: 4em;
      word-break: break-all;
      text-align: justify;
      width: 80rem;
    }
}
