.activity-5-content {
  background-image: url('../assets/5/background.png');

  .letter-container {
    text-align: center;
    margin-top: 10rem;
  }

  .img-letter {
    height: 12rem;
    width: 12rem;
  }

  .img-figure {
    max-height: 10rem;
  }

  .img-ground {
    display: block;
  }

  .box {
    margin: auto 10rem;
    text-align: center;
    width: auto;
  }

  .floating-objects-container {
    align-items: flex-end;
    display: flex;
    justify-content: center;
  }

  .character{
    bottom: 8rem;
    position: absolute;
    right: 0;

     img {
      height: 40rem;
      margin-left: auto;
     }
  }

  .talk-bubble {
    right: 22rem;
    bottom: 15rem;
  }
}
