.activity-6 {
  background: url("../assets/6/background.png") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  .images-list {
    float: left;
    max-height: 30rem;
    width: 50rem;
  }
  .ingredient-image {
    height: 12rem;
    width: 12rem;
    margin-top: 6rem;
    align-self: center;
    object-fit: contain;
  }
  .letterContainer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 10rem;
  }
  .letters-list.as-sortable-item {
    height: 10rem;
    width: 10rem;
    float: left;
    bottom: 0;
    background: transparent;
    border: 0;
  }
  .lettersDragged {
    display: flex;
    width: 50rem;
    align-self: center;
    justify-content: center;
    margin-top: 3rem;
  }
  .dragged-letter {
    height: 6rem;
    width: 6rem;
    background: transparent;
    border: 0;
  }
  .icon-phonema {
    padding: 5rem;
  }
  .dropzone {
    background: url("../assets/6/magic-pot.png") no-repeat center / contain;
    min-height: 50rem;
    border: 0;
    margin-bottom: 12rem;
    display: flex;
    flex-direction: column;
    .as-sortable-placeholder {
      display: none !important;
    }
  }
  .dragged-phonemas {
    height: 8rem;
    transform: rotate(3deg);
    margin-left: 3rem;
    margin-top: 5rem;
    margin-right: auto;
    display: block;
  }
  .as-sortable-placeholder {
    display: none !important;
  }
  .character {
    bottom: 24rem;
    position: absolute;
    right: 0;
  }
  .talk-bubble {
    right: 16rem;
    bottom: 12rem;
    width: 30rem;
    &::after {
      border-color: white transparent transparent white;
      bottom: initial;
      right: -2rem;
      top: 6rem;
    }
  }
}
