.activity-17-content {
  background: url('../assets/17/background.png') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .character {
    bottom: 8rem;
    position: absolute;
    right: 0;

    img { height: 30rem; }
  }

  .dropzone {
    border: .2rem dashed grey;
    border-radius: 50%;
    color: grey;
    padding: 1.4rem;

    .as-sortable-placeholder {
      visibility: hidden;
    }
  }

  .pattern-item {
    height: 8rem;
    margin: auto 1rem 1rem;
    width: 8rem;

    &.item-number {
      border: 0;
      border-radius: 50%;
      margin: auto 1rem 1rem;
    }
  }

  .pattern-container {
    display: flex;
    padding-top: 5%;
  }

  .pattern-options {
    padding-bottom: 3rem;
  }

  .item-number {
    align-items: center;
    display: flex;
    font-size: 2em;
    justify-content: center;
  }

  .as-sortable-item.item-number {
    display: flex;
  }

  .as-sortable-placeholder {
    background-color: transparent;
    border-color: transparent;
    margin: auto 1rem 1rem;
  }

  .as-sortable-dragging {
    width: auto !important;
  }

  .options-container {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
