.activity5 {
  background-image: url('../img/5-assets/background.png');
}

.activity-5-box-shadow {
  @include shadow-box-1(#ccc, #7c3900, #fef3dd, #fab06d);
}

.activity5-letter-container {
  margin-left: 50%;
}
.activity5-letter-container img {
  width: 100px;
  height: 100px;
}

.activity-5-box {
  width: 200px;
}
.activity-5-box img {
  clear: both;
  float: left;
}
.activity-5-container{
  margin-left: 100px;
  margin-top: -100px;
}
