.activity4 {
  background-image: url('../img/4-assets/background.jpg');
}

.activity-4-border {
   border-top: 20px solid transparent;
   padding: 15px;
   border-image-source: url("../img/4-assets/store-2.png");
   border-image-repeat: repeat;
   border-image-slice: 30;

 }

.activity-4-content {
   clear:both;
   float:left;
   max-width:400px;
   height:100%;
 }

.activity4-number-container {
  @include innerCircle-1 (10px, #4ec0e0, #ed3f36, 170px,170px, 70px, 50%, 45%);
 }
