.activity4 {
  background-image: url('../img/4-assets/background.jpg');

  .img-container {
    @include image-container-1(20px, #5E2B26, #e7ddc4);
   }
}

.col-container {
  display: flex;
  justify-content: center;
}

.dashboard {
  margin-top: 200px;
}

.activity-4-border {
   border-top: 2em solid transparent;
   padding: 1.5em;
   border-image-source: url("../img/4-assets/store-2.png");
   border-image-repeat: repeat;
   border-image-slice: 30;

 }

.activity-4-content {
   clear:both;
   float:left;
   max-width:40em;
   height:100%;
 }

.activity4-number-container {
  @include innerCircle-1 (1em, #4ec0e0, #ed3f36, 170px,17em, 7em, 50%, 45%);
  font-family: learningNumbers;
 }

 .gradient-number {
   background: #5E2B26;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }

 .as-sortable-item {
   background-color: inherit;
   border: inherit;
 }

 .as-sortable-placeholder {
   display: none !important;
 }

 .as-sortable-dragging {
   width: auto !important;
 }
