.activity-13-content {
  background: url('../assets/13/background.png') no-repeat center center fixed;
  background-size: cover;

  .character {
    bottom: 2rem;
    position: absolute;
    right: 2rem;

    img { height: 30rem; }

    .talk-bubble {
      align-self: flex-start;
      bottom: -2rem;
      position: relative;
      right: -4rem;
      z-index: 0;

      &::after {
        border-color: white transparent transparent white;
        bottom: initial;
        right: -2rem;
        top: 4rem;
      }
    }
  }

  .number-container {
    display: flex;
    flex-direction: column;
    font-size: 5em;
  }

  .as-sortable-item {
    background: 0;
    border: 0;
  }

  .as-sortable-dragging {
    margin: 0 !important;
  }

  .item-dropzone {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 21rem;
    justify-content: center;
    margin-left: 3.5rem;
    margin-top: 13rem;
    padding-top: 2rem;
    width: 17rem;

    .as-sortable-placeholder {
      visibility: hidden;
    }
  }

  .item-container {
    background: url('../assets/13/empty-box.png');
    background-size: cover;
    height: 18rem;
    width: 18rem;

    div {
      display: flex;
      height: 100%;
      width: 100%;
    }
  }

  .sortable-cookie {
    margin: auto;
    width: 6rem;
  }

  .check-button {
    align-self: flex-start;
    background: url('../assets/13/fork.png');
    background-size: contain;
    height: 12rem;
    width: 12rem;
  }

  .cub {
    background: url('../assets/characters/baby-lion.png');
    background-size: cover;
    height: 38rem;
    margin: 0 5rem;
    width: 24rem;

    .talk-bubble {
      bottom: initial;
      min-width: 15rem;
      right: 61rem;
      top: 12rem;
    }

    .btn-position .talk-bubble {
      right: 66rem;
    }

    .sortable-cookie {
      width: 5rem;
    }
  }
}
